.a{
 size: 100px;
  }
.b{
    font-size:90px;
}
.c{
    font-size:80px;
}
.d{
    font-size:70px;
}
.e{
    font-size:60px;
}
.f{
    font-size:50px;
}
.g{
    font-size:40px;
}
.h{
    font-size:30px;
}
.i{
    font-size:20px;
}
.j{
    font-size:10px;
}